.navbar {
  
  height: 10vh;
  position: relative;
  //padding: 1%;
 
  >div {
    //position: absolute;
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
  } 
  &__logo {
    
    float: left;
    position: relative;
    width: 20%;
    margin-right: 5%;
    &--pic{
      position: absolute;
      top: -9.3vh; 
      left: 5vw;
      height: 20vh;
      z-index: 99999;
    }

  }
  &__products {
    border: 1px solid white;
    border-top: none;
    border-bottom: none;
    color:white;
    float: left;
    width: 20%;
    
  }
  &__social-media {
    background: red;
    float: right;
    width: 40%;
  }
}

.header{
  background-image: linear-gradient(
    to right bottom,
    rgba(0,0,0, 0),
    rgba(0,0,0, 0.8)),
    url(../../../../img/sunny-main.jpg);
    background-size: cover;
    background-position: top;
    position: relative;
    height: 100vh;
  position: relative;
  &__banner{

  }
  &__text{
    font-size: 5vh;
    color: white;
    &--main{ 
      text-transform: uppercase;
      position: absolute;
      transform: translate(10vw,60vh);

    }
    &--sub{
      text-transform: lowercase;
      font-style: italic;
      position: absolute;
      transform: translate(20vw,80vh);
    }
  }
}

.mission{
  height: 50vh;
  .container{
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__statement{
    color:white;

  }
  &__pictures{
    position: relative;
    &--back,&--front{
      border: 1px solid white;
      height: 200px;
      position: absolute;
    }

    &--back{
      &:hover{
        z-index: 999;
        transform: translateY(-50%) scale(1.1);
        box-shadow: -8px -8px 20px 0px #94946d;
      }
      transform: translateY(-50%);
    }
    &--front{
      &:hover{
        box-shadow: -8px -8px 20px 0px #94946d;
        transform: translateX(25%) scale(1.1);
      }
      transform: translateX(25%);
      
    }
  }
}

.profiles{
  background: plum;
  height: 50vh;
  position: relative;
  
  &__card{

    height: 20vh;
    border:1px solid;
    &--odd{
      background: red;
    }
    &--even{
      background: green;
    }
    &--empty{
      background: yellow;
    }
  }
}